@using SpacePro.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutSpace.cshtml";
}
<style>
    .card {
        width: 50%;
        margin-top: 70px;
        padding: 20px;
        background-color: #58585824 !important;
        -webkit-box-shadow: 2px 1px 3px 1px rgba(143,143,143,0.62);
        box-shadow: 2px 1px 3px 1px rgba(143,143,143,0.62);
    }

    .col-md-10 {
        margin: 0 auto;
        float: none;
    }

    .col-md-2 {
        max-width: none;
    }

    .form-group {
        font-size: 17px;
    }
</style>

<div class="card text-center" style="margin:100px auto; float:none;">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4 style="text-align:center; font-size:25px">Login with an existing account</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label", style = "color:white" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", style = "color:white" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Log in" class="btn btn-dark" />
                    <span>
                        <a href="/Account/Register" style="margin-left:10px" class="btn btn-dark">Register as a new user</a>
                    </span>
                </div>
            </div>
            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
        }
    </section>

    <div class="col-md-4" style="margin:50px auto 0">
        <section id="socialLoginForm" style="width:240px; margin:auto">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
