@model Entities.BroadClasses.Article
@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Shared/_LayoutSpace.cshtml";
}

<!--Modal Delete-->
<div class="modal fade" id="delete" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog alert-danger bg-danger">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete this Article?</h4><br />
            </div>
            <div class="modal-footer">
                <button id="delete-btn" type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--OffCanvas Edit-->
<div class="offcanvas offcanvas-end w-40" data-bs-scroll="true" tabindex="-1" id="edit" aria-labelledby="offcanvasWithBothOptionsLabel" style="border: solid 1px #0d1d40; background: linear-gradient(to bottom, #0d1d40, black)">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Edit Article</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
    </div>
    <div class="offcanvas-body">
        @using (Html.BeginForm("EditArticle", "Article", new { articleId = Model.ArticleId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="card-body" style="border:solid 1px #0d1d40">
                <div class="row mb-4">
                    <label class="col-md-3 form-label">Article Title:</label>
                    <div class="">
                        <input id="edit-title" type="text" name="Title" class="form-control" value="@Model.Title" placeholder="Enter Article Title (3-50 characters)" minlength="3" maxlength="50" required>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 form-label mb-4">Author Name:</label>
                    <div class="mb-4">
                        <input id="edit-authorname" class="content form-control" name="AuthorName" value="@Model.AuthorName" placeholder="Enter Article Title (3-50 characters)" required />
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 form-label mb-4">Short Description:</label>
                    <div class="mb-4">
                        <textarea id="edit-shortdesc" rows="4" class="content form-control" name="ShortDescription" placeholder="Enter Short Description (5-5000 characters)" minlength="5" maxlength="5000" required>@Model.ShortDescription</textarea>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 form-label mb-4">Full Description:</label>
                    <div class="mb-4">
                        <textarea id="edit-fulldesc" rows="8" class="content form-control" name="FullDescription" placeholder="Enter Full Description (10-10000 characters)" minlength="10" maxlength="10000" required>@Model.FullDescription</textarea>
                    </div>
                </div>
                <div class="row mb-4">
                    <label class="col-md-3 form-label">Categories:</label>
                    <div class="">
                        <select id="edit-category" name="ArticleCategoryId" class="form-control form-select select2" data-bs-placeholder="Select Country" required>
                            <option value="1">BigBang</option>
                            <option value="2">Planets</option>
                            <option value="3">Moons</option>
                            <option value="4">Comets</option>
                            <option value="5">Asteroids</option>
                            <option value="6">Stars</option>
                            <option value="7">Theory</option>
                            <option value="8">Other</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mb-0">
                    <label class="col-md-3 form-label mb-4">File Upload:</label>
                    <input id="edit-image" type="file" class="form-control" name="image" accept=".jpg, .png, image/jpeg, image/png">
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" class="btn btn-success" value="Save Changes" />
            </div>
        }
    </div>
</div>

<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Article Details</h1>
                @if (User.IsInRole("Admin"))
                {
                    <div style="margin-left:350px">
                        <button id="edit-offcanvas" class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#edit" aria-controls="offcanvasWithBothOptions">Edit</button>
                        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete">Delete</button>
                    </div>
                }
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Article/ShowArticles">All Articles</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Article Details</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <div class="row">
                <div class="col-xl-8">
                    <div class="card">
                        <img style="border:solid 1px #0d1d40" id="article-image" class="card-img-top br-tr-7 br-tl-7 " src="@Model.ArticleImage.Url" alt="@Model.ArticleImage.AlternativeText">
                        <div class="card-body" style="border:solid 1px #0d1d40">
                            <div class="d-md-flex">
                                <a href="javascript:void(0);" class="d-flex me-4 mb-2">
                                    <i class="fe fe-calendar fs-16 me-1 p-3 bg-secondary-transparent text-secondary bradius"></i>
                                    <div id="article-postdate" class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">@Model.PostDate</div>
                                </a>
                                <a style="margin-left:50px" href="javascript:void(0)" class="d-flex mb-2">
                                    <i class="fe fe-user fs-16 me-1 p-3 bg-primary-transparent text-blue bradius"></i>
                                    <div class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">@Model.AuthorName</div>
                                </a>
                                <div style="margin-left:60px" href="javascript:void(0)" class="d-flex mb-2">
                                    <i class="fe fe-book fs-16 me-1 p-3 bg-primary-transparent text-blue bradius"></i>
                                    <div id="article-category" class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">@Model.ArticleCategory.Title</div>
                                </div>
                                <div class="media-body" style="margin-left:75px; margin-top:5px">
                                    <div id="article-likes" class="mb-0 mt-2 ms-2" style="color:grey;">@Model.PostLikes people like this article</div>
                                </div>
                                <div class="ms-auto mt-3">
                                    @if (Model.ArticleLikes.Any(x => x.LikedUser == User.Identity.GetUserId()))
                                    {
                                        <button id="like-btn" class="btn btn-outline-danger">Unlike</button>
                                    }
                                    else
                                    {
                                        <button id="like-btn" class="btn btn-outline-success">Like</button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="border:solid 1px #0d1d40">
                            <h3><a id="article-title" href="#">@Model.Title</a></h3>
                            <p id="article-description" class="card-text"></p>
                        </div>
                        <div style="border:solid 1px #0d1d40" id="article-description" class="text-muted">@Model.FullDescription</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
<!--app-content closed-->

@section article{
    <script>
        // like/unlike - button
        $(document).ready(function () {
            $("#like-btn").click(function () {

                if ($("#like-btn").html() == "Like") {
                    $("#like-btn").html('Unlike');
                    $("#like-btn").attr('class', "btn btn-outline-danger");

                    $.ajax({
                        url: `/Article/GiveLike?articleId=@Model.ArticleId`,
                    dataType: 'json',
                    type: 'get',
                    success: function (articleLikes) {
                        $("#article-likes").html(articleLikes + " people like this article");
                    }
                });
                }
                else {
                    $("#like-btn").html('Like');
                    $("#like-btn").attr('class', "btn btn-outline-success");


                    $.ajax({
                        url: `/Article/RemoveLike?articleId=@Model.ArticleId`,
                    dataType: 'json',
                    type: 'get',
                    success: function (articleLikes) {
                        $("#article-likes").html(articleLikes + " people like this article");
                    }
                });
                }

            });
        });
    </script>

    <script type="text/javascript">
        // delete article
        $("#delete-btn").click(function () {
            $.ajax({
                url: "/Article/DeleteArticle?articleId=@Model.ArticleId&imageId=@Model.ArticleImage.ArticleImageId",
                type: "delete",
                dataType: "json",
                success: function (path) {
                    window.location.href = path;
                }
            })
        })

    </script>

    <script>
        //edit form pre - fill category option
        $(document).ready(function () {
            $('#edit-category option[value=@Model.ArticleCategoryId]').attr('selected', '');
        })
    </script>

    <script>
        //clear edit form
        $("#clear-btn").click(function () {
            $("#edit-title").val("");
            $("#edit-authorname").val("");
            $("#edit-shortdesc").val("");
            $("#edit-fulldesc").val("");
            $("#edit-title").val("");
            $('#edit-category option[value=7]').attr('selected', '');
        })
    </script>

}